Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
UE4_Mannequin_Skeleton.uasset
T_CliffSharp_basecolor.uasset
TC_08-08_Sunset_D.uasset
T_CLiffSharp_normal.uasset
T_Sandstone_Cliff_basecolor.uasset
T_Sandstone_Cliff_normal.uasset
MainMap_BuiltData.uasset